/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}

ul, li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #24252A;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.home-link {
  margin-right: auto;
}

li {
  display: inline;
  margin-right: 10px;
}

li a {
  color: #edf0f1;
  text-decoration: none;
  font-weight: 700 ;
}

li a:hover {
  color: #ffffff;
}
